@using HMS.Web.Models

@{
    ApplicationDbContext db = new ApplicationDbContext();

    var username = User.Identity.Name;
    string fullName;
    var customer = db.Customers.SingleOrDefault(c => c.User.FirstOrDefault().UserName == username);
    if (customer != null)
    {
        fullName = customer.FirstName + ' ' + customer.LastName;
    }
    else
    {
        fullName = " ";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>@ViewBag.Title</title>

    <!-- App favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Dashboard/assets/images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />




    <!-- fontAwesom -->
    <link href="~/Content/Home/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Izimodal -->
    <link href="~/Content/iziModal.min.css" rel="stylesheet" />
    <link href="~/Content/iziToast.min.css" rel="stylesheet" />


    <!-- jvectormap -->
    <link href="~/Content/Dashboard/jqvmap.min.css" rel="stylesheet" />

    <!-- DataTables -->
    <!-- Icons css -->
    <link href="~/Content/Dashboard/materialdesignicons.min.css" rel="stylesheet" />

    <!-- App css -->
    <!-- build:css -->
    <link href="~/Content/Dashboard/app.css" rel="stylesheet" />
    <!-- endbuild -->

    <style>

        @@font-face {
            font-family: 'Iran Sans';
            src: url('/fonts/IranSans/IRANSansWeb.eot');
            src: url('/fonts/IranSans/IRANSansWeb.woff') format('woff'), url('/fonts/IranSans/IRANSansWeb.ttf') format('truetype');
        }

        body {
            font-family: 'Iran Sans' !important;
        }
    </style>

    <!--KENDO-->
    <link href="@Url.Content("~/Content/kendo/2019.2.619/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2019.2.619/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2019.2.619/kendo.material.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2019.2.619/kendo.rtl.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2019.2.619/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2019.2.619/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2019.2.619/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2019.2.619/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/PersianKendo.js")"></script>

    <link href="~/Content/fontawesome.min.css" rel="stylesheet" />

</head>

<body>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Navigation Bar-->
        <header id="topnav">
            <nav class="navbar-custom">
                <ul class="list-unstyled topbar-right-menu float-right mb-0">
                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="dripicons-bell fa fa-bell fa-2x"></i>
                            <span class="badge badge-info noti-icon-badge">21</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="m-0"><span class="float-right"><a href="" class="text-dark"><small>پاک کردن همه</small></a> </span>اعلانات</h5>
                            </div>

                            <div class="slimscroll noti-scroll">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-warning"><i class="mdi mdi-comment-account-outline"></i></div>
                                    <p class="notify-details">Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-info"><i class="mdi mdi-account-plus"></i></div>
                                    <p class="notify-details">New user registered.<small class="text-muted">5 hours ago</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="~/Content/Dashboard/images/users/avatar-2.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">Cristina Pride</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Hi, How are you? What about our next meeting</p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-danger"><i class="mdi mdi-comment-account-outline"></i></div>
                                    <p class="notify-details">Caleb Flakelar commented on Admin<small class="text-muted">4 days ago</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="~/Content/Dashboard/images/users/avatar-4.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">Karen Robinson</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Wow that's great</p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-primary"><i class="mdi mdi-heart"></i></div>
                                    <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">13 days ago</small></p>
                                </a>
                            </div>

                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                نمایش همه <i class="fi-arrow-right"></i>
                            </a>

                        </div>
                    </li>
                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="~/Content/Dashboard/images/users/team-5.jpg" alt="user" class="rounded-circle"> <span class="mr-1">@fullName<i class="mdi mdi-chevron-down"></i> </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown ">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h6 class="text-overflow m-0">خوش آمدید!</h6>
                            </div>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="dripicons-user"></i><span>اکانت من</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="dripicons-checklist"></i><span>تنظیمات</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="dripicons-help"></i><span>پشتیبانی</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="dripicons-lock"></i> <span>قفل صفحه</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="dripicons-power"></i><span>خروج</span>
                            </a>

                        </div>
                    </li>
                </ul>

                <ul class="list-unstyled menu-left mb-0">
                    <li class="float-left">
                        <a href="index.html" class="logo">
                            <span class="logo-lg">
                                <img src="~/Content/Dashboard/images/logo.png" alt="" height="20">
                            </span>
                            <span class="logo-sm">
                                <img src="~/Content/Dashboard/images/logo_sm.png" alt="" height="28">
                            </span>
                        </a>
                    </li>
                    <li class="float-left">
                        <a class="button-menu-mobile open-left navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                    </li>
                    <li class="app-search">
                        <form>
                            <input type="text" placeholder="جست و جو ..." class="form-control">
                            <button type="submit" class="sr-only"></button>
                        </form>
                    </li>
                </ul>
            </nav>
            <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu" style="background-color: #494f5c;">

            <div class="slimscroll-menu">

                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <ul class="metismenu" id="side-menu">

                        <li class="menu-title" style="color: white;">کلیات</li>

                        <li>
                            <a href="/Customer/Home/Index"><i class="fa fa-home"></i> <span style="color: white;"> خانه </span> <span class="menu-arrow"></span></a>
                        </li>

                        <li>
                            <a href="/Customer/Reserve/Index"><i class="mdi mdi-hotel"></i><span style="color: white;"> رزرو </span> <span class="menu-arrow"></span></a>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-chart-bar"></i><span style="color: white;"> نمودار ها </span> <span class="menu-arrow"></span></a>
                        </li>

                        <li>
                            <a href="#"><i class="mdi mdi-file-document-box"></i><span style="color: white;"> فرم ها </span> <span class="menu-arrow"></span></a>
                        </li>

                        <li>
                            <a href="#"><i class="mdi mdi-filter-variant"></i> <span style="color: white;"> جداول </span> <span class="menu-arrow"></span></a>
                        </li>

                        @using (Html.BeginForm("LogOff", "Account", new {Area = ""}, FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="mdi mdi-exit-to-app"></i> <span style="color: crimson;"> خروج </span> <span class="menu-arrow"></span></a>
                        </li>
                    </ul>

                </div>
                <!-- Sidebar -->

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <!-- Page Content Start -->
        <div class="content-page">
            <div class="content">
                <div class="container-fluid" style="padding-top: 20px;">

                    @RenderBody()

                </div>
            </div>
        </div>
        <!-- End Page Content-->


    </div>
    <!-- End #wrapper -->
    <!-- jQuery  -->
    @*<script src="~/Scripts/Dashboard/bootstrap.bundle.min.js"></script>*@
    <script src="~/DatePicker/bootstrap.min.js"></script>
    <script src="~/Scripts/Dashboard/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/Dashboard/metisMenu.min.js"></script>

    <!-- KNOB JS -->
    <script src="~/Scripts/Dashboard/jquery.knob.min.js"></script>


    <script src="~/Scripts/Dashboard/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Dashboard/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/Dashboard/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/Dashboard/responsive.bootstrap4.min.js"></script>


    <!-- Dashboard Init JS -->
    <script src="~/Scripts/Dashboard/jquery.dashboard.js"></script>

    <!-- App js -->
    <script src="~/Scripts/Dashboard/jquery.app.js"></script>
    <script src="~/Scripts/Dashboard/jquery.core.js"></script>

    <script>
        $(document).ready(function () {
            // Default Datatable
            $('#datatable').DataTable({
                "pageLength": 5,
                "searching": false,
                "lengthChange": false
            });
        });
    </script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!-- IziModal-->
    <script src="~/Scripts/iziModal.min.js"></script>
    <script src="~/Scripts/iziToast.min.js"></script>

    <script src="~/Scripts/fontawesome.min.js"></script>

    @RenderSection("Scripts", false)

</body>
</html>