@model HMS.Model.Core.DTOs.Customer.GetCustomerDto


<style>

    .center {
        text-align: center;
    }
</style>



<!--============ Hidden inputs ============-->
<input type="hidden" value="@Model.Id" id="customerId" />
<!--============ /Hidden inputs ============-->


<div style="margin: 30px 20px 50px 20px">
    <div class="row center">
        <div class="col col-md-6"><strong>نام</strong></div>
        <div class="col col-md-6">@Model.FirstName</div>
    </div>
    <div class="row center">
        <div class="col col-md-6"><strong>نام خانوادگی</strong></div>
        <div class="col col-md-6">@Model.LastName</div>
    </div>
    <div class="row center">
        <div class="col col-md-6"><strong>کد ملی</strong></div>
        <div class="col col-md-6">@Model.NationalNo</div>
    </div>
    <div class="row center">
        <div class="col col-md-6"><strong>شماره پاسپورت</strong></div>
        <div class="col col-md-6">@Model.PassportNo</div>
    </div>
</div>

<div class="row">
    <div style="width: 50%; padding-left: 0px;">
        <button class="btn btn-block" id="btnCreateContact" style="background-color: white; color: #13a394; border-color: #13a394">اطلاعات تماس</button>
    </div>
    <div style="width: 50%; padding-right: 0px;">
        <button class="btn btn-block" id="btnCreateFelowCustomer" style="background-color: white ; color: #13a394; border-color: #13a394">ثبت مسافرین همراه</button>
    </div>
</div>


<!--============ Create Contact Partial view using ajax ============-->
<div id="createContactModal" hidden>
    <div id="CreateContactPartial"></div>
</div>

<div id="createFelowCustomerModal" hidden>
    <div id="CreateFelowCustomerPartial"></div>
</div>
<!--============ /Create Contact Partial view using ajax ============-->



<!--============ Open Detail Modal ============-->
<script>
    $(function () {

        $("#btnCreateContact").mouseenter(function () {
            $(this).css("background-color", "#13a394");
            $(this).css("color", "#fff");
        });
        $("#btnCreateContact").mouseleave(function () {
            $(this).css("background-color", "#fff");
            $(this).css("color", "#13a394");
        });

        // Styling the buttons
        $("#btnCreateFelowCustomer").mouseenter(function () {
            $(this).css("background-color", "#13a394");
            $(this).css("color", "#fff");
        });
        $("#btnCreateFelowCustomer").mouseleave(function () {
            $(this).css("background-color", "#fff");
            $(this).css("color", "#13a394");
        });


        // Calling the _CreateContact partial using ajax
        $("#btnCreateContact").click(function () {

            $("#createContactModal").iziModal({
                title: "ثبت اطلاعات",
                subtitle: "ثبت اطلاعات تماس مسافر",
                headerColor: '#343a40',
                rtl: true,
                fullscreen: true,
                width: 800,
                overlay: true,
                zindex: 2000
            });

            $.ajax({
                dataType: "HTML",
                type: "POST",
                url: "/Admin/Customer/_CreateContact/" + $("#customerId").val(),
                success: function (result) {
                    $("#CreateContactPartial").html(result);
                }
            });


            $("#createContactModal").iziModal('open');
            $("#createContactModal").removeAttr("hidden");
        });


        // Calling the _CreateFelowCustomer partial using ajax
        $("#btnCreateFelowCustomer").click(function() {

            $("#createFelowCustomerModal").iziModal({
                title: "مسافر همراه",
                subtitle: "ثبت و نمایش مسافرین همراه",
                headerColor: '#343a40',
                rtl: true,
                fullscreen: true,
                width: 800,
                overlay: true,
                zindex: 2000
            });

            $.ajax({
                dataType: "HTML",
                type: "POST",
                url: "/Admin/Customer/_CreateFelowCustomer/" + $("#customerId").val(),
                success: function (result) {
                    $("#CreateFelowCustomerPartial").html(result);
                }
            });


            $("#createFelowCustomerModal").iziModal('open');
            $("#createFelowCustomerModal").removeAttr("hidden");

        });
    });

</script>
<!--============ /Open Detail Modal ============-->
