@model HMS.Model.Core.ViewModels.CreateCustomerViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!--==========  Open Crete IziModal  ==========-->
<input id="btnOpenCreateModal" type="button" value="ثبت مسافر" class="btn --blue" style="width: 10em; background-color: #1e90ff; color: white;" /><br /><br />

<!--========== Customer main Grid ==========-->
<div id="customerGrid" class="k-rtl"></div>


<!--========== Create Customer Modal ==========-->
<div id="divCreateCustomer" hidden>
    <div class="col-12">
        <form id="frmCreateCustomer" class="m-t-20 form-horizontal" style="margin: 30px 20px">
            @Html.ValidationMessageFor(c => c.FirstName, null, new { @class = "text-danger", style = "float:right;" })
            <div class="input-group mb-3">
                @Html.TextBoxFor(c => c.FirstName, new { @class = "form-control form-control-lg", placeholder = "نام", style = "text-align:right;" })
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                </div>
            </div>
            @Html.ValidationMessageFor(c => c.LastName, null, new { @class = "text-danger", style = "float:right;" })
            <div class="input-group mb-3">
                @Html.TextBoxFor(c => c.LastName, new { @class = "form-control form-control-lg", placeholder = "نام خانوادگی", style = "text-align:right;" })
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                </div>
            </div>
            @Html.ValidationMessageFor(c => c.NationalNo, null, new { @class = "text-danger", style = "float:right;" })
            <div class="input-group mb-3">
                @Html.TextBoxFor(c => c.NationalNo, new { @class = "form-control form-control-lg", placeholder = "کد ملی", style = "text-align:right;" })
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                </div>
            </div>
            @Html.ValidationMessageFor(c => c.PassportNo, null, new { @class = "text-danger", style = "float:right;" })
            <div class="input-group mb-3">
                @Html.TextBoxFor(c => c.PassportNo, new { @class = "form-control form-control-lg", placeholder = "شماره پاسپورت", style = "text-align:right;" })
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                </div>
            </div>



            @Html.ValidationMessageFor(c => c.Email, null, new { @class = "text-danger", style = "float:right;" })
            <div class="input-group mb-3">
                @Html.TextBoxFor(c => c.Email, new { @class = "form-control form-control-lg", placeholder = "ایمیل", style = "text-align:right;" })
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                </div>
            </div>
            @Html.ValidationMessageFor(c => c.Password, null, new { @class = "text-danger", style = "float:right;" })
            <div class="input-group mb-3">
                @Html.PasswordFor(c => c.Password, new { @class = "form-control form-control-lg", placeholder = "رمز عبور", style = "text-align:right;" })
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                </div>
            </div>
            @Html.ValidationMessageFor(c => c.ConfirmPassword, null, new { @class = "text-danger", style = "float:right;" })
            <div class="input-group mb-3">
                @Html.PasswordFor(c => c.ConfirmPassword, new { @class = "form-control form-control-lg", placeholder = "تکرار رمز عبور", style = "text-align:right;" })
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                </div>
            </div>

        </form>


    </div>
    <input onclick="CreateCustomer()" type="button" value="ثبت اطلاعات" class="btn btn-block" style="background-color: #1e90ff; color: white; margin: 0px" />
</div>

<!--========== Create Contact Modal ==========-->
<div id="divCreateContact" hidden="">
    @*<div class="col-12">
            <form id="frmCreateContact" class="m-t-20 form-horizontal" style="margin: 30px 20px">
                @Html.ValidationMessageFor(c => c.contact.TelNo, null, new { @class = "text-danger", style = "float:right;" })
                <div class="input-group mb-3">
                    @Html.TextBoxFor(c => c.contact.TelNo, new { @class = "form-control form-control-lg", placeholder = "شماره تلفن", style = "text-align:right;", type = "number" })
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <select class="form-control" style="height: 40px">
                        <option value="0">موبایل</option>
                        <option value="1">خانه</option>
                        <option value="2">محل کار</option>
                    </select>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                    </div>
                </div>

                @Html.ValidationMessageFor(c => c.contact.Address, null, new { @class = "text-danger", style = "float:right;" })
                <div class="input-group mb-3">
                    @Html.TextBoxFor(c => c.contact.Address, new { @class = "form-control form-control-lg", placeholder = "آدرس", style = "text-align:right;" })
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-address-card"></i></span>
                    </div>
                </div>

            </form>
        </div>
        <input onclick="CreateCustomer()" type="button" value="ثبت اطلاعات" class="btn btn-block" style="background-color: #1e90ff; color: white; margin: 0px" />*@
    
    <!--========== Contact Grid for the current created customer==========-->
    <div id="ContactGrid"></div>

</div>


@section Scripts
{
    <!--========== Customer main Grid ==========-->
    <script>
        $(document).ready(function () {
            $("#customerGrid").kendoGrid({
                dataSource: {
                    type: "aspnetmvc_ajax",
                    transport: {
                        read: "Customer_Read"
                    },
                    pageSize: 20
                },
                height: 550,
                width: 'auto',
                groupable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSize: true,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "FirstName",
                        title: "نام",
                        width: 170
                    },
                    {
                        field: "LastName",
                        title: "نام خانوادگی",
                        width: 170
                    },
                    {
                        field: "PassportNo",
                        title: "شماره پاسپورت",
                        width: 170
                    },
                    {
                        field: "NationalNo",
                        title: "شماره ملی",
                        width: 170
                    },
                ],
                navigatable: true,
                selectable: "single cell",
                sortable: {
                    mode: "single"
                },
                filterable: true,
                scrollable: true
            });
        });

    </script>
    <!--========== /Customer main Grid ==========-->
    <!--========== /Contact Grid ==========-->
    <script>

        $("#ContactGrid").kendoGrid({
            height: 'auto',
            columns: [
                { field: "Id", title: "ID" },
                { field: "TelType", title: "نوع" },
                { field: "TelNo", title: "شماره تلفن" },
                { field: "Address", title: "آدرس" },
                { command: ["destroy"], width: 100 }
            ],
            toolbar: [
                { name: "create", text: "جدید" },
                { name: "save", text: "ذخیره تغییرات" }
            ],
            dataSource: {
                type: "aspnetmvc-ajax",
                batch: true,
                transport: {
                    read: {
                        url: "Contact_Read",
                        data: {
                            id: $("#ContactId").val()
                        }
                    },
                    create: {
                        url: "Contact_Create",
                        data: {
                            personId: $("#ContactId").val()
                        }
                    },
                    update: {
                        url: "Contact_Update",
                        data: {
                            personId: $("#ContactId").val()
                        }
                    },
                    destroy: {
                        url: "Contact_Destroy",
                        data: {
                            personId: $("#ContactId").val()
                        }
                    }
                },
                schema: {
                    data: "Data",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "string" },
                            TelNo: { type: "string" },
                            TelType: { type: "string" },
                            Address: { type: "string" }
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true
            },
            editable: "incell",
            pageable: {
                pageSize: 50,
                buttonCount: 1,
                messages: {
                    empty: "موردی وجود ندارد",
                    display: "تعداد کل {2}"
                }
            },
            navigatable: true,
            selectable: "single cell",
            sortable: {
                mode: "single"
            },
            filterable: false,
            scrollable: true
        })
    </script>
    <!--========== /Contact Grid ==========-->
    <!--========== Open Create customer and create contact modal ==========-->
    <script>
        $("#btnOpenCreateModal").click(function () {
            $("#divCreateCustomer").iziModal({
                title: 'ثبت نام',
                subtitle: 'ثبت مسافر جدید',
                rtl: true,
                width: 600
            });
            $('#divCreateCustomer').iziModal('open');
            $("#divCreateCustomer").removeAttr('hidden');
        });

        function CreateCustomer() {
            $("#divCreateContact").iziModal({
                title: 'ثبت تلفن',
                subtitle: 'ثبت شماره تلفن و آدرس',
                rtl: true,
                width: 600
            });
            // Close the current modal and open contact modal
            $('#divCreateCustomer').iziModal('close');
            $('#divCreateContact').iziModal('open');
            $("#divCreateContact").removeAttr('hidden');
        }

    </script>
    <!--========== /Open Create customer modal ==========-->

}
